<!-- Daniel Palmer -->
<!-- Web Application Development (CPRG-210-A) -->
<!-- Assignemt 8 - 13 -->
<!-- 2021-11-26 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" value="Hey dummies!" />
    <link rel="icon" href="/gator.png" />
    <link rel="stylesheet" href="/index.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
    <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/333efb0c4e.js" crossorigin="anonymous"></script>
    <title>Travel Experts - About</title>
</head>
<body class="container">
    <article class="pageBody">
        <%- include('header', {time: time}) %>
            <div class="sectionpostion">
                <p>
                    Quite an odd little travel agency, you may say. We agree. This swampy quadroped mammal themed travel agency is anything but ordinary. 
                    Founded by the visionary entreprenure Rian Tapp, our goal has been to provide only best vacations any budget could buy!
                    Here at Gator Travels, we rely on deep, aggressive industry relationships to bring unbeatable value to our clients.
                    Our Agents are "Hyper-Informed", keeping up to date on all travel trends and destinations to determine the perfect time to vacation.
                </p>
            </div>
        <hr class="pageDivider" />
        <nav class="contentseparator">
            <div class="navbar">
                <a href="/" class="linkcolour"><i class="fas fa-home iconfont"></i></a>
            </div>
        </nav>
        <footer>
            <div class="contentseparator copyright">Copyright Gator Inc. &copy</div>
        </footer>
    </article>
</body>
</html>