<!-- Daniel Palmer -->
<!-- Web Application Development (CPRG-210-A) -->
<!-- Assignemt 8 - 13 -->
<!-- 2021-11-26 -->

<header class="contentseparator">
    <img src="gator.png" alt="Gator Pic" class="titleimage">
    <h1 class="titletext">Welcome to Gator Travel Experts</h1>
</header>
<div class="sectionpostion">
    <%= time %>
</div>
<hr class="pageDivider" />