.container{
    background-color: black;
    padding-left:10%;
    padding-right:10%;


}

.titletext{
    display: inline;
    position: absolute;
    color: white;
    padding: 25px;
}

.titlebanner{
    height: 138px;
    background-image: url(./media/gator.png);
    image-resolution: 150%;
}