.container{
    background-color: black;
    color: white;
    padding-left:5%;
    padding-right:5%;

}
.pageBody{
    background-color: #212225;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.pageDivider{
    border-color: #6200FF;
    border-style: solid;
    border-width: 10px;
    border-radius: 25px;
}

.contentseparator{
    margin-top: 50px;
    margin-bottom: 50px;
}

.titletext{
    display: inline;
    position: absolute;
    color: white;
    padding: 25px;
}

.titleimage{
    border-radius: 20px;
}

.imageresize{
    height: 100px;
    width: 300px;
    border-radius: 15px;
}

.displayphototext{
    display: inline;
    position: absolute;
    color: white;
    padding-top: 10px;
    padding-left: 25px;
}

.navbar{
    width: 100%;
    height: 25px;
    background-color: #6200FF;
    border-radius: 24px;
}

.navlist{
    list-style-type: none;
}

.navlist > li{
    display: inline;
    color: #975ef3;
}